<hr/>
<div>
  <!-- Begin MailChimp Signup Form -->
  <link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
  <style type="text/css">
  #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
  /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
  We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
  </style>
  <div id="mc_embed_signup">
    <form action="//thoseoptimizeguys.us2.list-manage.com/subscribe/post?u=0cca5d83f3162a01008e4aee7&amp;id=eda6c29510" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
      <label for="mce-EMAIL">Subscribe to the Mailing List</label>
      <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_0cca5d83f3162a01008e4aee7_eda6c29510" tabindex="-1" value=""></div>
      <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
    </form>
  </div>

  <!--End mc_embed_signup-->
</div>
<hr/>
<div>
  <div class="alignleft">
    <script type="text/javascript">
    amzn_assoc_ad_type = "banner";
    amzn_assoc_marketplace = "amazon";
    amzn_assoc_region = "US";
    amzn_assoc_placement = "assoc_banner_placement_default";
    amzn_assoc_campaigns = "music";
    amzn_assoc_banner_type = "category";
    amzn_assoc_p = "12";
    amzn_assoc_isresponsive = "false";
    amzn_assoc_banner_id = "1KK328G1HE6F0QY5PM02";
    amzn_assoc_width = "300";
    amzn_assoc_height = "250";
    amzn_assoc_tracking_id = "thevilbuz-20";
    amzn_assoc_linkid = "c07e234a1305bb7f000d6c97dba9c4d2";
    </script>
    <script src="//z-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1"></script>
  </div>
</div>
<hr/>
<div>
  <h4>Follow Us</h4>
  <a href="https://www.facebook.com/internetradiojam/"><i class="fa fa-facebook-square fa-4x" aria-hidden="true"></i></a>
  <a href="https://twitter.com/sergio_101"> <i class="fa fa-twitter-square fa-4x" aria-hidden="true"></i></a>
  <a href="mailto:sergio.rrd@gmail.com?Subject=InternetRadioJam%20Contact" ><i class="fa fa-4x fa-envelope" aria-hidden="true"></i></a>
</div>
